<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:if condition="{bundleBuilt}">
    <f:then>
        <div class="docx-editor-module"
             id="docx-editor-app"
             data-file-identifier="{fileIdentifier}"
             data-file-name="{fileName}"
             data-file-path="{filePath}"
             data-file-hash="{fileHash}"
             data-revision="{revision}"
             data-content-hash="{contentHash}"
             data-can-write="{canWrite}"
             data-element-browser-url="{elementBrowserUrl}"
             data-default-folder-identifier="{defaultFolderIdentifier}"
             data-editor-module-url="{editorModuleUrl}"
             data-save-as-field-name="docxEditorSaveAsFolder"
             data-heading-labels="{headingLabelsJson}"
             data-label-save="{f:translate(key: 'editor.save', extensionName: 'docx_editor')}"
             data-label-save-as="{f:translate(key: 'editor.saveAs', extensionName: 'docx_editor')}"
             data-label-save-as-prompt="{f:translate(key: 'editor.saveAsPrompt', extensionName: 'docx_editor')}"
             data-label-save-as-success="{f:translate(key: 'editor.saveAsSuccess', extensionName: 'docx_editor')}"
             data-label-saving="{f:translate(key: 'editor.saving', extensionName: 'docx_editor')}"
             data-label-saved="{f:translate(key: 'editor.saved', extensionName: 'docx_editor')}"
             data-label-saved-detail="{f:translate(key: 'editor.savedDetail', extensionName: 'docx_editor', arguments: '{0: filePath}')}"
             data-label-saveFailed="{f:translate(key: 'editor.saveFailed', extensionName: 'docx_editor')}"
             data-label-collaborators-one="{f:translate(key: 'editor.collaborators.one', extensionName: 'docx_editor')}"
             data-label-collaborators-other="{f:translate(key: 'editor.collaborators.other', extensionName: 'docx_editor')}"
             data-label-loading="{f:translate(key: 'editor.loading', extensionName: 'docx_editor')}"
             data-editor-locale="{editorLocale}">
            <f:render partial="Backend/Editor/RemoteRevisionBanner" />
            <f:if condition="{canWrite} == '1'">
                <input type="hidden" id="docxEditorSaveAsFolder" name="docxEditorSaveAsFolder" value="" />
                <a href="{elementBrowserUrl}" id="docx-editor-save-as-browse" class="visually-hidden"
                   data-mode="folder"
                   data-field-reference="docxEditorSaveAsFolder"
                   data-use-events="true"
                   data-identifier="{defaultFolderIdentifier}"></a>
            </f:if>
            <f:render partial="Backend/Editor/ResourceBreadcrumb" arguments="{breadcrumbJson: breadcrumbJson}" />
            <div class="docx-editor-module__meta">
                <span class="docx-editor-module__presence" data-docx-presence></span>
            </div>
            <typo3-docx-editor
                class="docx-editor-module__surface"
                file-identifier="{fileIdentifier}"
                file-name="{fileName}"
                file-hash="{fileHash}"
                revision="{revision}"
                can-write="{canWrite}"></typo3-docx-editor>
        </div>
    </f:then>
    <f:else>
        <div class="callout callout-danger">
            <div class="callout-body">
                <f:translate key="editor.buildMissing" extensionName="docx_editor" />
            </div>
        </div>
    </f:else>
</f:if>

</html>
