includes:
    - vendor/saschaegerer/phpstan-typo3/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    level: 8
    phpVersion: 80400
    paths:
        - Classes
        - Configuration
        - Tests
    tmpDir: var/phpstan
    treatPhpDocTypesAsCertain: false
    checkMissingOverrideMethodAttribute: true
    typo3:
        requestGetAttributeMapping:
            backend.user: TYPO3\CMS\Core\Authentication\BackendUserAuthentication
            moduleData: TYPO3\CMS\Backend\Module\ModuleData
