<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="docx-editor-remote-banner d-none" data-docx-remote-banner>
    <span data-docx-remote-banner-text>
        <f:translate key="editor.remoteUpdate" extensionName="docx_editor" />
    </span>
    <button type="button"
            class="btn btn-sm btn-warning"
            data-docx-remote-reload>
        <f:translate key="editor.reload" extensionName="docx_editor" />
    </button>
</div>

</html>
